<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>SportsGym</title>
     @Styles.Render("~/Content/css")
     @Scripts.Render("~/bundles/modernizr")
     <!-- Popper.js -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
     <!-- Bootstrap CSS -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
     <!-- Font Awesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <style>
          body {
               background-color: #333;
               color: #fff;
          }

          .navbar {
               background-color: #222;
          }

          .nav-link {
               color: #fff !important;
          }

               .nav-link:hover {
                    color: #f8f9fa !important;
               }

          footer {
               background-color: #222;
               color: #fff;
               padding: 10px 0;
               text-align: center;
          }
     </style>
</head>
<body>
     <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
          <div class="container">
               @Html.ActionLink("Sports Gym", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-white" })
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                         <li class="nav-item">
                              @Html.ActionLink("Gyms", "Index", "Gyms", new { area = "" }, new { @class = "nav-link" })
                         </li>
                         <li class="nav-item">
                              @Html.ActionLink("Products", "Index", "Products", new { area = "" }, new { @class = "nav-link" })
                         </li>
                         <li class="nav-item">
                              @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                         </li>
                         <li class="nav-item">
                              @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                         </li>
                    </ul>
                    <ul class="navbar-nav">
                         @if (User.Identity.IsAuthenticated == false)
                         {
                              <li class="nav-item">
                                   @Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "nav-link" })
                              </li>
                              <li class="nav-item">
                                   @Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "nav-link" })
                              </li>
                         }
                         @if (User.Identity.IsAuthenticated == true)
                         {
                              <li class="nav-item">
                                   @Html.ActionLink(User.Identity.Name, "MyProfile", "Account", new { area = "" }, new { @class = "nav-link fw-bold text-info" })
                              </li>
                              <li class="nav-item">
                                   @Html.ActionLink("Cart", "Cart", "Products", new { area = "" }, new { @class = "nav-link" })
                              </li>
                              <li class="nav-item">
                                   @Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })
                              </li>
                         }
                    </ul>
               </div>
          </div>
     </nav>


     <div class="container body-content">
          @RenderBody()
          <hr />
          <footer>
               <p class="_dateTimeCopy">&copy; @DateTime.Now.Year - <b>TI-213</b></p>
          </footer>
     </div>
     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/popper/js")
     @Scripts.Render("~/bundles/jqueryval")
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
     @RenderSection("scripts", required: false)

</body>
</html>
