<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
     <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
          <div class="container">
               @Html.ActionLink("Sports Gym", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
               <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                       aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                         <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                         <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                         <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                         <li>@Html.ActionLink("Shop", "Shop", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                    <img src="~/Content/img/brightness-and-contrast.png" id="dark-mode-toggle" />
                    <div class="login-container">
                         <button class="login-btn">Login/SignUp</button>
                    </div>
               </div>
          </div>
     </nav>
     <div class="container body-content">
          @RenderBody()
          <hr />
          <footer>
               <p class="_dateTimeCopy">&copy; @DateTime.Now.Year - <b>TI-213</b></p>
          </footer>
     </div>

     <div id="mascot-container">
          <img id="mascot-image" src="~/Content/img/github.png" alt="Mascot">
          <p id="mascot-message">Hello!</p>
     </div>

     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
     @Scripts.Render("~/bundles/mainScript")
     @RenderSection("scripts", required: false)

</body>
</html>
