@model GymSports.Data.Models.Cart

@{
     ViewBag.Title = "Cart";
}

<h2>Shopping Cart</h2>

@if (Model.CartItems == null || Model.CartItems.Count == 0)
{
     <p>Your cart is empty.</p>
}
else
{
     <div class="table-responsive">
          <table class="table table-striped table-hover">
               <thead class="table-dark">
                    <tr>
                         <th>Product</th>
                         <th>Quantity</th>
                         <th>Price</th>
                         <th>Total</th>
                    </tr>
               </thead>
               <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                         if (item.Product != null)
                         {
                              <tr>
                                   <td>
                                        <div class="cart-item">
                                             @if (!string.IsNullOrEmpty(item.Product.Photo))
                                             {
                                                  <img src="data:image;base64,@item.Product.Photo" alt="Product-IMG" class="cart-item-image w-25 h-25">
                                             }
                                             <span class="cart-item-name">@item.Product.Name</span>
                                        </div>
                                   </td>
                                   <td>@item.Quantity</td>
                                   <td>@item.Product.Price</td>
                                   <td>@(item.Quantity * (item.Product.Price ?? 0))</td>
                              </tr>
                         }
                    }
               </tbody>
          </table>
     </div>

     <p>Total: @(Model.CartItems.Sum(item => (item.Quantity * (item.Product.Price ?? 0))))</p>

     <div>
          <a href="@Url.Action("Index", "Products")" class="btn btn-secondary">Continue Shopping</a>
          <a href="@Url.Action("Checkout", "Cart")" class="btn btn-primary">Proceed to Checkout</a>
     </div>
}
