@model GymSports.Data.Models.GymProduct

@{
     ViewBag.Title = "Details";
}

<style>
     h2, #main {
          background-color: rgba(0,0,0,0.75);
          padding: 2rem;
          border-radius: 1rem;
     }
</style>
<h2 class="text-2xl font-bold mb-4">Details</h2>

<div id="main" class="flex justify-center">
     <div class="max-w-md bg-gray-900 rounded-lg overflow-hidden shadow-md">
          <div class="bg-gray-800 text-white px-6 py-4">
               <h4 class="text-xl font-bold mb-2">@Model.Name</h4>
          </div>
          <div class="p-6">
               <div class="flex justify-center mb-4">
                    <img src="data:image;base64,@Model.Photo" alt="Product-IMG" class="w-25 h-25 rounded-full">
               </div>
               <hr class="my-4 border-gray-700" />
               <dl>
                    <div class="mb-4">
                         <dt class="font-bold text-gray-300">Category:</dt>
                         <dd class="text-gray-100">@Html.DisplayFor(model => model.Category)</dd>
                    </div>
                    <div class="mb-4">
                         <dt class="font-bold text-gray-300">Price$:</dt>
                         <dd class="text-gray-100">@Html.DisplayFor(model => model.Price)</dd>
                    </div>
                    <div class="mb-4">
                         <dt class="font-bold text-gray-300">Availability:</dt>
                         <dd class="text-gray-100">@Html.DisplayFor(model => model.AvailabilityStatus)</dd>
                    </div>
                    <div class="mb-4">
                         <dt class="font-bold text-gray-300">Brand:</dt>
                         <dd class="text-gray-100">@Html.DisplayFor(model => model.Brand)</dd>
                    </div>
               </dl>
          </div>
     </div>
</div>

<p class="mt-6 text-center">
     @Html.ActionLink("Back to List", "Index", "Products", new { area = "" }, new { @class = "btn btn-secondary" })
</p>
