@model List<GymSports.Data.Models.GymProduct>

@{
     ViewBag.Title = "Products";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
     .product-image {
          max-width: 450px;
          height: 425px;
     }
     #row {
          background-color: rgba(0,0,0,0.75);
          padding: 1rem;
     }
     #row > * {
          background-color: transparent !important;
          color:white;
          
     }
     #row img {
          border-radius: .5rem !important;
     }
</style>

<div class="row">
     @foreach (var item in Model)
     {
          <div id="row" class="col-md-4 mb-4">
               <div class="card">
                    <img src="data:image;base64,@item.Photo" class="card-img-top product-image" alt="Product-IMG">
                    <div class="card-body" style="display: flex; flex-direction: column; gap: .5rem; ">
                         <h5 class="card-title">@item.Name</h5>
                         <p class="card-text">
                              <strong>Category:</strong> @item.Category <br>
                              <strong>Price$:</strong> @item.Price <br>
                              <strong>Availability:</strong> @item.AvailabilityStatus <br>
                              <strong>Brand:</strong> @item.Brand
                         </p>
                         <a href="@Url.Action("Details", "Products", new { id = item.ProductID })" class="btn btn-primary mr-2">Details</a>
                         <form action="@Url.Action("AddToCart", "Products")" method="post" class="d-inline">
                              <input type="hidden" name="productId" value="@item.ProductID" />
                              <input type="number" name="quantity" value="1" min="1" class="form-control" style="text-align: center; max-width:100%" />
                              <button style="margin-top: .5rem" type="submit" class="btn btn-success">Add to Cart</button>
                         </form>
                    </div>
               </div>
          </div>
     }
</div>
