@model List<GymSports.Data.Models.GymProduct>

@{
     ViewBag.Title = "Products";
}

<div class="table-responsive">
     <table class="table table-striped table-hover">
          <thead class="table-dark">
               <tr>
                    <th><i class="fas fa-box"></i> Product Name</th>
                    <th><i class="fas fa-tag"></i> Product Category</th>
                    <th><i class="fas fa-dollar-sign"></i> Product Price</th>
                    <th><i class="fas fa-check-circle"></i> Product AvailabilityStatus</th>
                    <th><i class="fas fa-industry"></i> Product Brand</th>
               </tr>
          </thead>
          <tbody>
               @foreach (var item in Model)
               {
                    <tr>
                         <td>
                              <a href="@Url.Action("Details", "Products", new { id = item.ProductID })" class="text-decoration-none">@item.Name</a>
                         </td>
                         <td>@item.Category</td>
                         <td>@item.Price</td>
                         <td>@item.AvailabilityStatus</td>
                         <td>@item.Brand</td>
                    </tr>
               }
          </tbody>
     </table>
</div>
