@model GymSports.Data.Models.GymPlace

@using (Html.BeginForm("Create", "Gyms", new { area = "" }, FormMethod.Post))
{
     @Html.AntiForgeryToken()

     <div class="card">
          <div class="card-body">
               @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               <div class="form-group row">
                    @Html.LabelFor(model => model.NameSurname, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                         <div class="input-group">
                              <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                              @Html.EditorFor(model => model.NameSurname, new { htmlAttributes = new { @class = "form-control" } })
                         </div>
                         @Html.ValidationMessageFor(model => model.NameSurname, "", new { @class = "text-danger" })
                    </div>
               </div>

               <div class="form-group row">
                    @Html.LabelFor(model => model.Region, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                         <div class="input-group">
                              <span class="input-group-text"><i class="fas fa-globe"></i></span>
                              @Html.DropDownListFor(model => model.Region, new SelectList(
                                  new List<SelectListItem>
                                  {
                                      new SelectListItem { Text = "None", Value = "" },
                                      new SelectListItem { Text = "Buiucani, Alba Iulia 168", Value = "Buiucani, Alba Iulia 168" },
                                      new SelectListItem { Text = "Riscani, Socoleni 7", Value = "Riscani, Socoleni 7" },
                                      new SelectListItem { Text = "Ciocana, Dumeniuc 12", Value = "Ciocana, Dumeniuc 12" },
                                      new SelectListItem { Text = "Cricova, Chișinăului 80", Value = "Cricova, Chișinăului 80" },
                                      new SelectListItem { Text = "Botanica, Brancuși 3", Value = "Botanica, Brancuși 3" }
                                  }, "Value", "Text"), new { @class = "form-control" })
                         </div>
                         @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
                    </div>
               </div>

               <div class="form-group row">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                         <div class="input-group">
                              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                              @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                         </div>
                         @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
               </div>

               <div class="form-group row">
                    @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                         <div class="input-group">
                              <span class="input-group-text"><i class="far fa-clock"></i></span>
                              @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control", type = "time" } })
                         </div>
                         @Html.ValidationMessageFor(model => model.Time, "", new { @class = "text-danger" })
                    </div>
               </div>

               <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                         <button type="submit" class="btn btn-primary bg-success m-1">
                              <i class="fas fa-plus-circle"></i> Create
                         </button>
                    </div>
               </div>
          </div>
     </div>
}

<div class="mt-4">
     @Html.ActionLink("Back to List", "Index", null, new { area = "", @class = "btn btn-secondary" })
</div>
