@model List<GymSports.Data.Models.GymPlace>

@{
     ViewBag.Title = "Gyms";
}

<a href="@Url.Action("Create", "Gyms", new {})" class="btn btn-primary bg-success mb-2">Add Gym</a>
<div class="table-responsive">
     <table class="table table-striped table-hover">
          <thead class="table-dark">
               <tr>
                    <th>ID</th>
                    <th>Gym Names</th>
                    <th>Gym Region</th>
                    <th>Gym Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
               </tr>
          </thead>
          <tbody>
               @foreach (var item in Model)
               {
                    <tr>
                         <td>@item.GymID</td>
                         <td>
                              <a href="@Url.Action("Details", "Gyms", new {id = item.GymID})" class="text-decoration-none">@item.Name</a>
                         </td>
                         <td>@item.Region</td>
                         <td>@item.Address</td>
                         <td><a href="@Url.Action("Edit", "Gyms", new {id = item.GymID})" class="text-decoration-none">Edit</a></td>
                         <td><a href="@Url.Action("Delete", "Gyms", new {id = item.GymID})" class="text-decoration-none text-danger">Delete</a></td>
                    </tr>
               }
          </tbody>
     </table>
</div>
