@model GymSports.Data.Models.GymProduct

@{
     ViewBag.Title = "Details";
     Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2 class="text-2xl font-bold mb-4">Details</h2>

<div class="bg-gray-800 rounded-lg shadow-md p-4">
     <div class="mb-2">
          <dd>
               @if (!string.IsNullOrEmpty(Model.Photo))
               {
                    <img src="data:image;base64,@Model.Photo" alt="Product Image" class="w-25 h-25" />
               }
               else
               {
                    <p class="text-white">No image available</p>
               }
          </dd>
     </div>

     <h4 class="text-xl font-bold text-white mb-2">@Model.Name</h4>
     <hr class="my-4 border-gray-600" />

     <div class="mb-2">
          <dt class="font-bold text-white">Category:</dt>
          <dd class="text-white">@Html.DisplayFor(model => model.Category)</dd>
     </div>
     <div class="mb-2">
          <dt class="font-bold text-white">Price:</dt>
          <dd class="text-white">@Html.DisplayFor(model => model.Price)</dd>
     </div>
     <div class="mb-2">
          <dt class="font-bold text-white">Availability:</dt>
          <dd class="text-white">@Html.DisplayFor(model => model.AvailabilityStatus)</dd>
     </div>
     <div class="mb-2">
          <dt class="font-bold text-white">Brand:</dt>
          <dd class="text-white">@Html.DisplayFor(model => model.Brand)</dd>
     </div>
</div>

<p class="mt-4">
     @Html.ActionLink("Back to List", "Index", "Products", new { area = "Admin" }, new { @class = "btn btn-secondary" })
</p>
