@model GymSports.Data.Models.GymProduct

@{
     ViewBag.Title = "Edit";
     Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

@using (Html.BeginForm("Edit", "Products", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
     @Html.AntiForgeryToken()

     <div class="card">
          <div class="card-body">
               <h4 class="card-title">Editing <b class="text-info">@Model.Name</b></h4>
               <hr />
               <div class="form-group row">
                    @Html.LabelFor(model => model.ProductID, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                         @Html.HiddenFor(model => model.ProductID)
                         <span class="form-control">@Model.ProductID</span>
                         @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                    </div>
               </div>
               <div class="form-group row">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                         @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                         @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
               </div>

               <div class="form-group row">
                    @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                         @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                         @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </div>
               </div>

               <div class="form-group row">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                         @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                         @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
               </div>

               <div class="form-group row">
                    @Html.LabelFor(model => model.AvailabilityStatus, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                         @Html.DropDownListFor(model => model.AvailabilityStatus, new SelectList(new[]
                         {
                              new SelectListItem { Text = "Please Select", Value = "" },
                              new SelectListItem { Text = "In Stock", Value = "In Stock" },
                              new SelectListItem { Text = "Out Of Stock", Value = "Out Of Stock" }
                         }, "Value", "Text"), new { @class = "form-control" })
                         @Html.ValidationMessageFor(model => model.AvailabilityStatus, "", new { @class = "text-danger" })
                    </div>
               </div>

               <div class="form-group row">
                    @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                         @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                         @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                    </div>
               </div>

               <div class="form-group row">
                    <div class="col-md-10 offset-md-2">
                         <input type="submit" value="Save" class="btn btn-primary bg-success" />
                    </div>
               </div>
          </div>
     </div>
}

<div>
     @Html.ActionLink("Back to List", "Index", "Home", new { area = "Admin" }, new { @class = "btn btn-secondary" })
</div>
