@model GymSports.Data.Models.GymPlace

@{
     ViewBag.Title = "Details";
     Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Details</h2>

<div class="card">
     <div class="card-body">
          <h4 class="card-title">@Model.Name</h4>
          <hr />
          <dl class="row">
               <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
               </dt>
               <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
               </dd>
               <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Region)
               </dt>
               <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Region)
               </dd>
               <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
               </dt>
               <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
               </dd>
          </dl>
     </div>
</div>
<p>
     @Html.ActionLink("Back to List", "Index", null, new { area = "Admin", @class = "btn btn-secondary bg-warning" })
</p>
